<h1>OpenLibrary Search</h1>

<%= form_with url: "/", method: :get do |form| %>
  <%= form.label :query, "Enter book name:" %>
  <%= form.text_field :query, options = { :type => :search, :autofocus => true, :value => @query } %>
<% end %>

<% if @results.empty? %>
  <p class="notice">No results</p>
<% else %>
  <table>
    <thead>
    <tr>
      <th>Book Title</th>
      <th>Author</th>
      <th>Link to Open Library Page</th>
    </tr>
    </thead>
    <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result['title'] %></td>
        <td><%= authors_list(result['author_name']) %></td>
        <td><%= link_to_work(result['key']) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>